# SPDX-License-Identifier: zlib-acknowledgement

*

!*/

!.gitignore
!README.md
!LICENSE

!docker-reset
!docker-run
!merge
!newx
!path
!vimx
!c-repo
!create-deb
!update-deb
!git-search
!git-squash
!c-tag
!create-embedded
!create-desktop
!init-pclint
!arm-none-eabi-gcc-mcu.cmake

!tbc/
!tbc/**/*

!desktop-template/
!desktop-template/**/*

!embedded-template/
!embedded-template/**/*
